* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  font-family: 'Saira Semi Condensed', sans-serif;
}

.app {
  height: 100vh;
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: 89%;
}

/******** Navigation Container *******/

.top-nav {
  position: fixed;
}

.profile-container {
  margin-top: 10%;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  font-weight: 100;
}

.profile-container > img {
  border-radius: 50%;
  height: 88px;
}

.navigation {
  background: #2c2c3c;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.songInput {
  background: none;
  outline: none;
  border-width: 0 0 1px;
  color: white;
  border-color: white;
  font-weight: 100;
  font-size: 20px;
  width: 90%;
  margin-top: 40px;
  font-weight: 200;
}

.links {
  font-weight: 300;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 20px;
  color: gray;
  width: 60%;
  height: 45%;
}

.links > p:hover {
  color: white;
  transition: .2s ease-in-out;
  cursor: pointer;
}

.queue-container {
  height: 40%;
  width: 60%;
  font-size: 18px;
  color: white;
  display: flex;
  flex-direction: column;
  list-style: none;
}

.queue-border {
  display: flex;
  align-items: center;
  text-align: center;
  color: #00afff;
}

.queue-border::before, .queue-border::after {
  content: '';
  flex: 1;
  border-bottom: 2px solid #00afff;
}

li::before {
  content: "•";
  color: #00c3ff;
  display: inline-block;
  width: 1.2em;
  padding-top: 20px;
  text-shadow: 0px 0px 5px #00afff, 0px 0px 5px #00afff;
}

p > i {
  vertical-align: -17%;
  margin-right: 12px;
}

/********** MAIN INTERFACE ************/

.mainContent {
  background: #191927;
}

.songs-container {
  display: grid;
  height: 62%;
  grid-template-columns: 60% 4% 20%;
  grid-template-rows: 39% 39%;
  grid-row-gap: 0%;
  grid-column-gap: 5%;
  justify-content: center;
  align-content: center;
  grid-row-gap: 5%;
}

/*********** NEXT SONG TO PLAY *********/

.next-song {
  grid-column-start: 1;
  grid-column-end: 3;

}

.past-songs-wrapper {
  background-color: #1e1e2d;
  grid-row-start: span 2;
  border-radius: 10px;
}

/********** PREVIOUS SONGS CONTAINER **********/

.past-songs {
  height: 100%;
  font-size: 18px;
  padding-top: 6%;
}

.song {
  display: grid;
  align-items: center;
  color: aliceblue;
  font-size: 1rem;
  justify-content: space-evenly;
  padding-bottom: 8%;
}

.song > img {
  border-radius: 10%;
  grid-row-start: 1;
  grid-row-end: 3;
}

.song > p {
  grid-column-start: 2;
  grid-column-end: 2;
}

.song > h4 {
  margin-bottom: -14%;
  font-weight: 400;
}

.song > p {
  color: #636678;
  font-size: .9rem;
}


.recent-songs {
  background: green;
  grid-column-start: 1;
  grid-column-end: 3;
}

/******** CONTAINER FOR ALBUMS IN LIBRARY **********/

.recommended-albums {
  margin-left: 4%;
  height: 38%;  
}

header > h1 {
  color: white;
  font-weight: 300;
  padding-bottom: 2%;
}

.album-container {
  width: 96%;
  height: 86%;
  display: grid;
  grid-template-columns: 17% 17% 17% 17% 17% 17%;
  color: white;

}


.album {
  font-size: .9rem;
  height: 95%;
  width: 70%;
  font-family: 'Dosis', sans-serif;

}

.album > img {
  height: 9.5rem;
  border-radius: 12px;
  margin-bottom: 8%;
}

.album > h4 {
  font-weight: 100;
  font-size: 1.4rem;
}

.album  > p {
  color: #636678;
}

/********* CURRENT SONG PLAYING ***********/
.currentAlbum {
  grid-column-start: 1;
  grid-column-end: 2;
  background: #262634;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  color: white;
}

.miniArt > img {
  width: 70px;
  border-radius: 10%;
}

/********* SONG CONTROL - PAUSE / PLAY / NEXT/PREVIOUS SONG ******/

.playerControls {
  grid-column-start: 2;
  grid-column-end: 3;
  background: #222230;
  display: flex;
  justify-content: center;
}

.playerButtons {
  height: 70%;
  display: flex;
  justify-content: space-evenly;
  width: 25%;
}

.interactive {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85%;
  color: grey;
}

.audio-container {
  width: 40%;
  background: grey;
  height: 6px;
  border-radius: 2rem;
  margin-right: 15px;
  margin-left: 15px;
}

#audio-bar {
  width: 0px;
  background: #49d5fe;
  height: 6px;
  border-radius: 2rem;
}

button {
  background: none;
  border: none;
  font-size: 1.875rem;
  color: grey;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: none;
}

.miniArt {
  margin-top: 6px;
}

.songNav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
}

